.centered{
	text-align: center;
}

.add-top-margin{
	margin-top:20px;
}

.btn-black-text {
	color: black;
}

.title-col {
	width:70%;
}

.table {
	margin-top:20px;
}
a {
  padding-left: 5px;
}

.disabled {
  color: orange;
}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}

/* some simple transitions to make the upvote and downvote
buttons fade in as a visual cue for the user */

.glyphicon {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.glyphicon:hover {
  opacity: 0.75;
  cursor: pointer;
}
